{% extends 'base.html' %}

{% block content %}
  <h2 <h2 class="text-center bg-primary">>Approve Project</h2>
    <div class="card-body" >
      <div class="row justify-content-md-center ">
        <div class="col-md-auto border border-primary" style="padding: 20px 50px ">
          <p>Do you want to approve "{{ project.name }}"?</p>
          <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Approve</button>
            <a href="{% url 'project_detail' short_name=project.short_name %}" class="btn btn-secondary">Cancel</a>
          </form>
        </div>
      </div>
    </div>

{% endblock %}
