{% extends 'base.html' %}

{% block content %}
  <h1 class="text-center bg-primary">Suggest Idea for "{{ project.name }}"</h1>
  <div class="card-body" >
      <div class="row justify-content-md-center ">
        <div class="col-md-auto border border-primary" style="padding: 20px 50px ">
          
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
      
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <p class="messages alert alert-success" >{{ message }}</p>
                {% endif %}
                {% if message.tags == 'error' %}
                    <p class="messages alert alert-danger" >{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
      </div>
    </div>
{% endblock %}
